
#brson li em {
    text-transform: uppercase;
    color: red;
}

#brson #s-intro div.img-box img {
    margin-top: 0rem;
    width: 100%;
}

#brson #s-intro div.img-box {
    font-size: 80%;
}

#brson #s-about-us div.img-box img {
    width: 50%;
}

#brson div.big-img img {
    margin-top: 18rem;
}

#brson #part-1 div.img-box img {
    /*width: 80%;*/
    margin-right: 20rem;
}

#brson div.center-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

#brson #s-riscv img {
    width: 60%;
}
