html {
    height: 100%;
}

body {
    height: 100%;
}

#frame {
    display: grid;
    grid-template-rows: 15% auto;
    height: 100%;
}

#frame > div:nth-child(1) {
    background-color: gray;
}

#frame > div:nth-child(2) {
    height: 100%;
}

iframe {
    width: 100%;
    height: 100%;
}
